*.py[cod]
*.sqlite

# C extensions
*.so

# Packages
*.egg*
dist
build
.venv
.eggs
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
cover/*
.tox
nosetests.xml
.stestr/
.testrepository/
functional_creds.conf
AUTHORS
ChangeLog

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
.DS_Store
etc/mistral.conf

#swap file
*.swp

# Files created by releasenotes build
releasenotes/build

# Files created by doc build
doc/source/api
